:root{
    --style1-dark-color:rgb(200, 200, 200);
    --style1-light-color:rgb(220, 220, 220);
}

.style1{
    border-collapse: collapse;
    border: none ;
    overflow: auto;
    display: block;
}
.style1 thead,.style1 tr{
    width: fit-content;
}
.style1 *{
    border:none !important;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
}
.style1 tbody tr:nth-child(even){
    background-color: var(--style1-light-color);
}
.style1 td,.style1 thead th{
    border-right: 1px solid var(--style1-dark-color) !important;
    min-width: 120px !important;
    width: fit-content !important;
    padding: 0 5px;
    overflow:hidden !important;
}
.style1 td:last-child,.style1 th:last-child{
    border-right: 0px !important;
}
.style1 thead th{
    border:none !important;
    background: transparent !important;
    min-width: 120px !important;
    border-bottom: 1px solid var(--style1-dark-color) !important;
    border-right: 1px solid var(--style1-dark-color) !important;
}
